<h1>HOME</h1>


<div class="row">
  
  <div class="col-xs-6 col-xs-offset-3">
    

    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>    
      </ol>
  
      <div class="carousel-inner">
        <div class="item active">
          <%= image_tag "cat1.jpg", style: "" %>
          <div class="carousel-caption">
            Professor P. Burgatron
          </div>
        </div>
    
        <div class="item">
          <%= image_tag "cat2.jpg", style: "width: 450px" %>
          <div class="carousel-caption">
            Princess Mira
          </div>
        </div>
    
        <div class="item">
          <%= image_tag "cat3.jpg", style: "" %>
          <div class="carousel-caption">
            Doctor Pucker, Ph.D.
          </div>
        </div>
      </div>
  
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>

    <div id="first">
    <p>You think water moves fast? You should see ice. It moves like it has a mind. Like it knows it killed the world once and got a taste for murder. After the avalanche, it took us a week to climb out. Now, I don't know exactly when we turned on each other, but I know that seven of us survived the slide... and only five made it out. <a title="Shark ain't got SHIT " data-placement="right" data-toggle="tooltip" class="tooltip-image" href="#">Now we took an oath, that I'm breaking now</a>. We said we'd say it was the snow that killed the other two, but it wasn't. Nature is lethal but it doesn't hold a candle to man. You think water moves fast? You should see ice. It moves like it has a mind. Like it knows it killed the world once and got a taste for murder. After the avalanche, it took us a week to climb out. Now, I don't know exactly when we turned on each other, but I know that seven of us survived the slide... and only five made it out. <a title="Shark ain't got SHIT " data-placement="right" data-toggle="tooltip" class="tooltip-image" href="#">Now we took an oath, that I'm breaking now</a>. We said we'd say it was the snow that killed the other two, but it wasn't. Nature is lethal but it doesn't hold a candle to man. You think water moves fast? You should see ice. It moves like it has a mind. Like it knows it killed the world once and got a taste for murder. After the avalanche, it took us a week to climb out. Now, I don't know exactly when we turned on each other, but I know that seven of us survived the slide... and only five made it out. <a title="Shark ain't got SHIT " data-placement="right" data-toggle="tooltip" class="tooltip-image" href="#">Now we took an oath, that I'm breaking now</a>. We said we'd say it was the snow that killed the other two, but it wasn't. Nature is lethal but it doesn't hold a candle to man.</p>
    </div>
    <div id="second">
    <p>My money's in that office, right? If she start giving me some bullshit about it ain't there, and we got to go someplace else and get it, I'm gonna shoot you in the head then and there. Then I'm gonna shoot that bitch in the kneecaps, find out where my goddamn money is. She gonna tell me too. Hey, look at me when <a title="Badass Motherfucker" data-placement="top" data-toggle="tooltip" class="tooltip-image" href="#">I'm talking to you, motherfucker</a>. You listen: we go in there, and that nigga Winston or anybody else is in there, you the first motherfucker to get shot. You understand? My money's in that office, right? If she start giving me some bullshit about it ain't there, and we got to go someplace else and get it, I'm gonna shoot you in the head then and there. Then I'm gonna shoot that bitch in the kneecaps, find out where my goddamn money is. She gonna tell me too. Hey, look at me when <a title="Badass Motherfucker" data-placement="top" data-toggle="tooltip" class="tooltip-image" href="#">I'm talking to you, motherfucker</a>. You listen: we go in there, and that nigga Winston or anybody else is in there, you the first motherfucker to get shot. You understand? My money's in that office, right? If she start giving me some bullshit about it ain't there, and we got to go someplace else and get it, I'm gonna shoot you in the head then and there. Then I'm gonna shoot that bitch in the kneecaps, find out where my goddamn money is. She gonna tell me too. Hey, look at me when <a title="Badass Motherfucker" data-placement="top" data-toggle="tooltip" class="tooltip-image" href="#">I'm talking to you, motherfucker</a>. You listen: we go in there, and that nigga Winston or anybody else is in there, you the first motherfucker to get shot. You understand?</p>
    </div>
    <div id="third">
    <p>Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows. Some pilots get picked and become television programs. <a data-placement="top" data-toggle="tooltip" title="Some Motherfuckers ... " class="tooltip-image" href="#">Some don't, become nothing.</a> She starred in one of the ones that became nothing. Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows. Some pilots get picked and become television programs. <a data-placement="top" data-toggle="tooltip" title="Some Motherfuckers ... " class="tooltip-image" href="#">Some don't, become nothing.</a> She starred in one of the ones that became nothing. Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows. Some pilots get picked and become television programs. <a data-placement="top" data-toggle="tooltip" title="Some Motherfuckers ... " class="tooltip-image" href="#">Some don't, become nothing.</a> She starred in one of the ones that became nothing.</p>
    </div>
    <div id="fourth">
    <p>Normally, both your asses would be dead as fucking fried chicken, but you happen to pull this shit while I'm in a transitional period so I don't wanna kill you, I wanna help you. But I can't give you this case, it don't belong to me. Besides, I've already been through too much shit this morning over this case to hand it over to your dumb ass. Normally, both your asses would be dead as fucking fried chicken, but you happen to pull this shit while I'm in a transitional period so I don't wanna kill you, I wanna help you. But I can't give you this case, it don't belong to me. Besides, I've already been through too much shit this morning over this case to hand it over to your dumb ass. Normally, both your asses would be dead as fucking fried chicken, but you happen to pull this shit while I'm in a transitional period so I don't wanna kill you, I wanna help you. But I can't give you this case, it don't belong to me. Besides, I've already been through too much shit this morning over this case to hand it over to your dumb ass.</p>
    </div>
    <div id="fifth">
    <p>Your bones don't break, mine do. That's clear. Your cells react to bacteria and viruses differently than mine. You don't get sick, I do. That's also clear. But for some reason, you and I react the exact same way to water. We swallow it too fast, we choke. We get some in our lungs, we drown. However unreal it may seem, we are connected, you and I. We're on the same curve, just on opposite ends. Your bones don't break, mine do. That's clear. Your cells react to bacteria and viruses differently than mine. You don't get sick, I do. That's also clear. But for some reason, you and I react the exact same way to water. We swallow it too fast, we choke. We get some in our lungs, we drown. However unreal it may seem, we are connected, you and I. We're on the same curve, just on opposite ends. Your bones don't break, mine do. That's clear. Your cells react to bacteria and viruses differently than mine. You don't get sick, I do. That's also clear. But for some reason, you and I react the exact same way to water. We swallow it too fast, we choke. We get some in our lungs, we drown. However unreal it may seem, we are connected, you and I. We're on the same curve, just on opposite ends.</p>
    </div>

  </div>

  <div class="col-xs-1 affix-top" data-spy="affix">
    <div class="navbar-scrolling affix-top">
      <ul class="nav nav-tabs" role="tablist">
        <li><a href="#first">first</a></li>
        <li><a href="#second">second</a></li>
        <li><a href="#third">third</a></li>
        <li><a href="#fourth">fourth</a></li>
        <li><a href="#fifth">fifth</a></li>
      </ul>
    </div>
  </div>
</div>