   <div class="modal fade"
        id="signInModal"
        tabindex="-1"
        role="dialog" 
        aria-labelledby="signInModalLabel" 
        aria-hidden="true">
     
     <div class="modal-dialog">
       <div class="modal-content">
         <div class="modal-header">
           <h1>Log In</h1>
         </div>
         <div class="modal-body">
   
   
    <form action="<%= session_url %>" method="post" role="form">
      <input
         name="authenticity_token"
         type="hidden"
         value="<%= form_authenticity_token %>">

      <div class="form-group">
      <label for="user_username">Username</label>
      <input
         id="user_username"
         name="user[username]"
         type="text"
         class="form-control">
      </div>

      <div class="form-group">
      <label for="user_password">Password</label>
      <input
         id="user_password"
         name="user[password]"
         type="password"
         class="form-control">
      </div>

      <button class="btn btn-primary">Log in</button>
      <button type="button" class="btn btn-primary" data-dismiss="modal">
        Close
      </button>
    </form>
      </div>
    </div>
  </div>
  
</div>